__pycache__/
*.py[cod]
.venv/
build/
dist/
*.egg-info/
.pytest_cache/
.ruff_cache/
.mypy_cache/
.coverage
src/*/_version.py

.terraform/
*.tfstate
*.tfstate.*
.terraform.lock.hcl
terraform/terraform.tfvars

.env
